version: "3.9"

services:

  vllm:
    image: vllm/vllm-openai:latest
    container_name: vllm
    runtime: nvidia
    environment:
      - HF_TOKEN=${HF_TOKEN}
    volumes:
      - C:/Users/Dhaya/.cache/huggingface:/root/.cache/huggingface
    ports:
      - "8000:8000"
    command: >
      meta-llama/Llama-3.2-3B-Instruct
      --quantization bitsandbytes
      --dtype float16
      --max-model-len 512
      --max-num-seqs 4
      --gpu-memory-utilization 0.75
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    restart: unless-stopped

  openwebui:
    image: ghcr.io/open-webui/open-webui:main
    container_name: openwebui
    ports:
      - "3000:8080"
    environment:
      - OPENAI_API_BASE_URL=http://vllm:8000/v1
      - OPENAI_API_KEY=dummy
      - CUDA_VISIBLE_DEVICES=""
    depends_on:
      - vllm
    restart: unless-stopped
